@CHARSET "utf-8";


html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  background-color: #772953;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

header {
  height: 20%;
}